<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aidoctor.reponsitory.DetailMapper" >
  <resultMap id="BaseResultMap" type="com.aidoctor.entity.Detail" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="picture_id" property="pictureId" jdbcType="VARCHAR" />
    <result column="record_id" property="recordId" jdbcType="VARCHAR" />
    <result column="stdName" property="stdname" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="float_value" property="floatValue" jdbcType="DOUBLE" />
    <result column="reference" property="reference" jdbcType="VARCHAR" />
    <result column="tip" property="tip" jdbcType="VARCHAR" />
    <result column="part_picture_url" property="partPictureUrl" jdbcType="VARCHAR" />
    <result column="part_picture_result" property="partPictureResult" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.aidoctor.entity.Detail" extends="BaseResultMap" >
    <result column="unit" property="unit" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, picture_id, record_id, stdName, name, float_value, reference, tip, part_picture_url, 
    part_picture_result, update_time, user_id, type
  </sql>
  <sql id="Blob_Column_List" >
    unit
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.aidoctor.entity.DetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from train_test_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.aidoctor.entity.DetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from train_test_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from train_test_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from train_test_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.aidoctor.entity.DetailExample" >
    delete from train_test_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aidoctor.entity.Detail" >
    insert into train_test_detail (id, picture_id, record_id, 
      stdName, name, float_value, 
      reference, tip, part_picture_url, 
      part_picture_result, update_time, user_id, 
      type, unit)
    values (#{id,jdbcType=VARCHAR}, #{pictureId,jdbcType=VARCHAR}, #{recordId,jdbcType=VARCHAR}, 
      #{stdname,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{floatValue,jdbcType=DOUBLE}, 
      #{reference,jdbcType=VARCHAR}, #{tip,jdbcType=VARCHAR}, #{partPictureUrl,jdbcType=VARCHAR}, 
      #{partPictureResult,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{unit,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.aidoctor.entity.Detail" >
    insert into train_test_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pictureId != null" >
        picture_id,
      </if>
      <if test="recordId != null" >
        record_id,
      </if>
      <if test="stdname != null" >
        stdName,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="floatValue != null" >
        float_value,
      </if>
      <if test="reference != null" >
        reference,
      </if>
      <if test="tip != null" >
        tip,
      </if>
      <if test="partPictureUrl != null" >
        part_picture_url,
      </if>
      <if test="partPictureResult != null" >
        part_picture_result,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="unit != null" >
        unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pictureId != null" >
        #{pictureId,jdbcType=VARCHAR},
      </if>
      <if test="recordId != null" >
        #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="stdname != null" >
        #{stdname,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="floatValue != null" >
        #{floatValue,jdbcType=DOUBLE},
      </if>
      <if test="reference != null" >
        #{reference,jdbcType=VARCHAR},
      </if>
      <if test="tip != null" >
        #{tip,jdbcType=VARCHAR},
      </if>
      <if test="partPictureUrl != null" >
        #{partPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="partPictureResult != null" >
        #{partPictureResult,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aidoctor.entity.DetailExample" resultType="java.lang.Integer" >
    select count(*) from train_test_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update train_test_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.pictureId != null" >
        picture_id = #{record.pictureId,jdbcType=VARCHAR},
      </if>
      <if test="record.recordId != null" >
        record_id = #{record.recordId,jdbcType=VARCHAR},
      </if>
      <if test="record.stdname != null" >
        stdName = #{record.stdname,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.floatValue != null" >
        float_value = #{record.floatValue,jdbcType=DOUBLE},
      </if>
      <if test="record.reference != null" >
        reference = #{record.reference,jdbcType=VARCHAR},
      </if>
      <if test="record.tip != null" >
        tip = #{record.tip,jdbcType=VARCHAR},
      </if>
      <if test="record.partPictureUrl != null" >
        part_picture_url = #{record.partPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.partPictureResult != null" >
        part_picture_result = #{record.partPictureResult,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.unit != null" >
        unit = #{record.unit,jdbcType=VARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update train_test_detail
    set id = #{record.id,jdbcType=VARCHAR},
      picture_id = #{record.pictureId,jdbcType=VARCHAR},
      record_id = #{record.recordId,jdbcType=VARCHAR},
      stdName = #{record.stdname,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      float_value = #{record.floatValue,jdbcType=DOUBLE},
      reference = #{record.reference,jdbcType=VARCHAR},
      tip = #{record.tip,jdbcType=VARCHAR},
      part_picture_url = #{record.partPictureUrl,jdbcType=VARCHAR},
      part_picture_result = #{record.partPictureResult,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      unit = #{record.unit,jdbcType=VARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update train_test_detail
    set id = #{record.id,jdbcType=VARCHAR},
      picture_id = #{record.pictureId,jdbcType=VARCHAR},
      record_id = #{record.recordId,jdbcType=VARCHAR},
      stdName = #{record.stdname,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      float_value = #{record.floatValue,jdbcType=DOUBLE},
      reference = #{record.reference,jdbcType=VARCHAR},
      tip = #{record.tip,jdbcType=VARCHAR},
      part_picture_url = #{record.partPictureUrl,jdbcType=VARCHAR},
      part_picture_result = #{record.partPictureResult,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aidoctor.entity.Detail" >
    update train_test_detail
    <set >
      <if test="pictureId != null" >
        picture_id = #{pictureId,jdbcType=VARCHAR},
      </if>
      <if test="recordId != null" >
        record_id = #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="stdname != null" >
        stdName = #{stdname,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="floatValue != null" >
        float_value = #{floatValue,jdbcType=DOUBLE},
      </if>
      <if test="reference != null" >
        reference = #{reference,jdbcType=VARCHAR},
      </if>
      <if test="tip != null" >
        tip = #{tip,jdbcType=VARCHAR},
      </if>
      <if test="partPictureUrl != null" >
        part_picture_url = #{partPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="partPictureResult != null" >
        part_picture_result = #{partPictureResult,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.aidoctor.entity.Detail" >
    update train_test_detail
    set picture_id = #{pictureId,jdbcType=VARCHAR},
      record_id = #{recordId,jdbcType=VARCHAR},
      stdName = #{stdname,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      float_value = #{floatValue,jdbcType=DOUBLE},
      reference = #{reference,jdbcType=VARCHAR},
      tip = #{tip,jdbcType=VARCHAR},
      part_picture_url = #{partPictureUrl,jdbcType=VARCHAR},
      part_picture_result = #{partPictureResult,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      unit = #{unit,jdbcType=VARBINARY}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aidoctor.entity.Detail" >
    update train_test_detail
    set picture_id = #{pictureId,jdbcType=VARCHAR},
      record_id = #{recordId,jdbcType=VARCHAR},
      stdName = #{stdname,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      float_value = #{floatValue,jdbcType=DOUBLE},
      reference = #{reference,jdbcType=VARCHAR},
      tip = #{tip,jdbcType=VARCHAR},
      part_picture_url = #{partPictureUrl,jdbcType=VARCHAR},
      part_picture_result = #{partPictureResult,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>