<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aidoctor.dao.OutstockMapper" >
  <resultMap id="BaseResultMap" type="com.aidoctor.entity.Outstock" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="fentry_Id" property="fentryId" jdbcType="INTEGER" />
    <result column="fdate" property="fdate" jdbcType="TIMESTAMP" />
    <result column="fbill_no" property="fbillNo" jdbcType="VARCHAR" />
    <result column="fitem_id" property="fitemId" jdbcType="INTEGER" />
    <result column="item_number" property="itemNumber" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="fmodel" property="fmodel" jdbcType="VARCHAR" />
    <result column="fdc_stock_id" property="fdcStockId" jdbcType="INTEGER" />
    <result column="fdc_stock" property="fdcStock" jdbcType="VARCHAR" />
    <result column="fdept_id" property="fdeptId" jdbcType="INTEGER" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="femp_id" property="fempId" jdbcType="INTEGER" />
    <result column="yewuyuan" property="yewuyuan" jdbcType="VARCHAR" />
    <result column="fcus_id" property="fcusId" jdbcType="INTEGER" />
    <result column="cus_num" property="cusNum" jdbcType="VARCHAR" />
    <result column="cus_name" property="cusName" jdbcType="VARCHAR" />
    <result column="ecus_id" property="ecusId" jdbcType="INTEGER" />
    <result column="ecus_num" property="ecusNum" jdbcType="VARCHAR" />
    <result column="ecus_name" property="ecusName" jdbcType="VARCHAR" />
    <result column="funit_id" property="funitId" jdbcType="INTEGER" />
    <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
    <result column="fqty" property="fqty" jdbcType="DECIMAL" />
    <result column="fauxqty" property="fauxqty" jdbcType="DECIMAL" />
    <result column="faux_price" property="fauxPrice" jdbcType="DECIMAL" />
    <result column="famout" property="famout" jdbcType="DECIMAL" />
    <result column="fconsign_price" property="fconsignPrice" jdbcType="DECIMAL" />
    <result column="fconsign_amout" property="fconsignAmout" jdbcType="DECIMAL" />
    <result column="fbatch_no" property="fbatchNo" jdbcType="VARCHAR" />
    <result column="snlist" property="snlist" jdbcType="VARCHAR" />
    <result column="fkperiod" property="fkperiod" jdbcType="INTEGER" />
    <result column="fkf_date" property="fkfDate" jdbcType="TIMESTAMP" />
    <result column="forder_bill_no" property="forderBillNo" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="wldh" property="wldh" jdbcType="VARCHAR" />
    <result column="ysdw" property="ysdw" jdbcType="VARCHAR" />
    <result column="dhdh" property="dhdh" jdbcType="VARCHAR" />
    <result column="order_date" property="orderDate" jdbcType="VARCHAR" />
    <result column="llysdh" property="llysdh" jdbcType="VARCHAR" />
    <result column="llysdw" property="llysdw" jdbcType="VARCHAR" />
    <result column="fpwldh" property="fpwldh" jdbcType="VARCHAR" />
    <result column="fpysdw" property="fpysdw" jdbcType="VARCHAR" />
    <result column="pkid" property="pkid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.aidoctor.entity.Outstock" extends="BaseResultMap" >
    <result column="fnote" property="fnote" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, fentry_Id, fdate, fbill_no, fitem_id, item_number, item_name, fmodel, fdc_stock_id, 
    fdc_stock, fdept_id, dept_name, femp_id, yewuyuan, fcus_id, cus_num, cus_name, ecus_id, 
    ecus_num, ecus_name, funit_id, unit_name, fqty, fauxqty, faux_price, famout, fconsign_price, 
    fconsign_amout, fbatch_no, snlist, fkperiod, fkf_date, forder_bill_no, create_date, 
    status, wldh, ysdw, dhdh, order_date, llysdh, llysdw, fpwldh, fpysdw, pkid
  </sql>
  <sql id="Blob_Column_List" >
    fnote
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.aidoctor.entity.OutstockExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bh_outstock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.aidoctor.entity.OutstockExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bh_outstock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bh_outstock
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bh_outstock
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.aidoctor.entity.OutstockExample" >
    delete from bh_outstock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aidoctor.entity.Outstock" >
    insert into bh_outstock (id, fentry_Id, fdate, 
      fbill_no, fitem_id, item_number, 
      item_name, fmodel, fdc_stock_id, 
      fdc_stock, fdept_id, dept_name, 
      femp_id, yewuyuan, fcus_id, 
      cus_num, cus_name, ecus_id, 
      ecus_num, ecus_name, funit_id, 
      unit_name, fqty, fauxqty, 
      faux_price, famout, fconsign_price, 
      fconsign_amout, fbatch_no, snlist, 
      fkperiod, fkf_date, forder_bill_no, 
      create_date, status, wldh, 
      ysdw, dhdh, order_date, 
      llysdh, llysdw, fpwldh, 
      fpysdw, pkid, fnote
      )
    values (#{id,jdbcType=VARCHAR}, #{fentryId,jdbcType=INTEGER}, #{fdate,jdbcType=TIMESTAMP}, 
      #{fbillNo,jdbcType=VARCHAR}, #{fitemId,jdbcType=INTEGER}, #{itemNumber,jdbcType=VARCHAR}, 
      #{itemName,jdbcType=VARCHAR}, #{fmodel,jdbcType=VARCHAR}, #{fdcStockId,jdbcType=INTEGER}, 
      #{fdcStock,jdbcType=VARCHAR}, #{fdeptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, 
      #{fempId,jdbcType=INTEGER}, #{yewuyuan,jdbcType=VARCHAR}, #{fcusId,jdbcType=INTEGER}, 
      #{cusNum,jdbcType=VARCHAR}, #{cusName,jdbcType=VARCHAR}, #{ecusId,jdbcType=INTEGER}, 
      #{ecusNum,jdbcType=VARCHAR}, #{ecusName,jdbcType=VARCHAR}, #{funitId,jdbcType=INTEGER}, 
      #{unitName,jdbcType=VARCHAR}, #{fqty,jdbcType=DECIMAL}, #{fauxqty,jdbcType=DECIMAL}, 
      #{fauxPrice,jdbcType=DECIMAL}, #{famout,jdbcType=DECIMAL}, #{fconsignPrice,jdbcType=DECIMAL}, 
      #{fconsignAmout,jdbcType=DECIMAL}, #{fbatchNo,jdbcType=VARCHAR}, #{snlist,jdbcType=VARCHAR}, 
      #{fkperiod,jdbcType=INTEGER}, #{fkfDate,jdbcType=TIMESTAMP}, #{forderBillNo,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{wldh,jdbcType=VARCHAR}, 
      #{ysdw,jdbcType=VARCHAR}, #{dhdh,jdbcType=VARCHAR}, #{orderDate,jdbcType=VARCHAR}, 
      #{llysdh,jdbcType=VARCHAR}, #{llysdw,jdbcType=VARCHAR}, #{fpwldh,jdbcType=VARCHAR}, 
      #{fpysdw,jdbcType=VARCHAR}, #{pkid,jdbcType=VARCHAR}, #{fnote,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aidoctor.entity.Outstock" >
    insert into bh_outstock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fentryId != null" >
        fentry_Id,
      </if>
      <if test="fdate != null" >
        fdate,
      </if>
      <if test="fbillNo != null" >
        fbill_no,
      </if>
      <if test="fitemId != null" >
        fitem_id,
      </if>
      <if test="itemNumber != null" >
        item_number,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="fmodel != null" >
        fmodel,
      </if>
      <if test="fdcStockId != null" >
        fdc_stock_id,
      </if>
      <if test="fdcStock != null" >
        fdc_stock,
      </if>
      <if test="fdeptId != null" >
        fdept_id,
      </if>
      <if test="deptName != null" >
        dept_name,
      </if>
      <if test="fempId != null" >
        femp_id,
      </if>
      <if test="yewuyuan != null" >
        yewuyuan,
      </if>
      <if test="fcusId != null" >
        fcus_id,
      </if>
      <if test="cusNum != null" >
        cus_num,
      </if>
      <if test="cusName != null" >
        cus_name,
      </if>
      <if test="ecusId != null" >
        ecus_id,
      </if>
      <if test="ecusNum != null" >
        ecus_num,
      </if>
      <if test="ecusName != null" >
        ecus_name,
      </if>
      <if test="funitId != null" >
        funit_id,
      </if>
      <if test="unitName != null" >
        unit_name,
      </if>
      <if test="fqty != null" >
        fqty,
      </if>
      <if test="fauxqty != null" >
        fauxqty,
      </if>
      <if test="fauxPrice != null" >
        faux_price,
      </if>
      <if test="famout != null" >
        famout,
      </if>
      <if test="fconsignPrice != null" >
        fconsign_price,
      </if>
      <if test="fconsignAmout != null" >
        fconsign_amout,
      </if>
      <if test="fbatchNo != null" >
        fbatch_no,
      </if>
      <if test="snlist != null" >
        snlist,
      </if>
      <if test="fkperiod != null" >
        fkperiod,
      </if>
      <if test="fkfDate != null" >
        fkf_date,
      </if>
      <if test="forderBillNo != null" >
        forder_bill_no,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="wldh != null" >
        wldh,
      </if>
      <if test="ysdw != null" >
        ysdw,
      </if>
      <if test="dhdh != null" >
        dhdh,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="llysdh != null" >
        llysdh,
      </if>
      <if test="llysdw != null" >
        llysdw,
      </if>
      <if test="fpwldh != null" >
        fpwldh,
      </if>
      <if test="fpysdw != null" >
        fpysdw,
      </if>
      <if test="pkid != null" >
        pkid,
      </if>
      <if test="fnote != null" >
        fnote,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="fentryId != null" >
        #{fentryId,jdbcType=INTEGER},
      </if>
      <if test="fdate != null" >
        #{fdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fbillNo != null" >
        #{fbillNo,jdbcType=VARCHAR},
      </if>
      <if test="fitemId != null" >
        #{fitemId,jdbcType=INTEGER},
      </if>
      <if test="itemNumber != null" >
        #{itemNumber,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="fmodel != null" >
        #{fmodel,jdbcType=VARCHAR},
      </if>
      <if test="fdcStockId != null" >
        #{fdcStockId,jdbcType=INTEGER},
      </if>
      <if test="fdcStock != null" >
        #{fdcStock,jdbcType=VARCHAR},
      </if>
      <if test="fdeptId != null" >
        #{fdeptId,jdbcType=INTEGER},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="fempId != null" >
        #{fempId,jdbcType=INTEGER},
      </if>
      <if test="yewuyuan != null" >
        #{yewuyuan,jdbcType=VARCHAR},
      </if>
      <if test="fcusId != null" >
        #{fcusId,jdbcType=INTEGER},
      </if>
      <if test="cusNum != null" >
        #{cusNum,jdbcType=VARCHAR},
      </if>
      <if test="cusName != null" >
        #{cusName,jdbcType=VARCHAR},
      </if>
      <if test="ecusId != null" >
        #{ecusId,jdbcType=INTEGER},
      </if>
      <if test="ecusNum != null" >
        #{ecusNum,jdbcType=VARCHAR},
      </if>
      <if test="ecusName != null" >
        #{ecusName,jdbcType=VARCHAR},
      </if>
      <if test="funitId != null" >
        #{funitId,jdbcType=INTEGER},
      </if>
      <if test="unitName != null" >
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="fqty != null" >
        #{fqty,jdbcType=DECIMAL},
      </if>
      <if test="fauxqty != null" >
        #{fauxqty,jdbcType=DECIMAL},
      </if>
      <if test="fauxPrice != null" >
        #{fauxPrice,jdbcType=DECIMAL},
      </if>
      <if test="famout != null" >
        #{famout,jdbcType=DECIMAL},
      </if>
      <if test="fconsignPrice != null" >
        #{fconsignPrice,jdbcType=DECIMAL},
      </if>
      <if test="fconsignAmout != null" >
        #{fconsignAmout,jdbcType=DECIMAL},
      </if>
      <if test="fbatchNo != null" >
        #{fbatchNo,jdbcType=VARCHAR},
      </if>
      <if test="snlist != null" >
        #{snlist,jdbcType=VARCHAR},
      </if>
      <if test="fkperiod != null" >
        #{fkperiod,jdbcType=INTEGER},
      </if>
      <if test="fkfDate != null" >
        #{fkfDate,jdbcType=TIMESTAMP},
      </if>
      <if test="forderBillNo != null" >
        #{forderBillNo,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="wldh != null" >
        #{wldh,jdbcType=VARCHAR},
      </if>
      <if test="ysdw != null" >
        #{ysdw,jdbcType=VARCHAR},
      </if>
      <if test="dhdh != null" >
        #{dhdh,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=VARCHAR},
      </if>
      <if test="llysdh != null" >
        #{llysdh,jdbcType=VARCHAR},
      </if>
      <if test="llysdw != null" >
        #{llysdw,jdbcType=VARCHAR},
      </if>
      <if test="fpwldh != null" >
        #{fpwldh,jdbcType=VARCHAR},
      </if>
      <if test="fpysdw != null" >
        #{fpysdw,jdbcType=VARCHAR},
      </if>
      <if test="pkid != null" >
        #{pkid,jdbcType=VARCHAR},
      </if>
      <if test="fnote != null" >
        #{fnote,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aidoctor.entity.OutstockExample" resultType="java.lang.Integer" >
    select count(*) from bh_outstock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bh_outstock
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.fentryId != null" >
        fentry_Id = #{record.fentryId,jdbcType=INTEGER},
      </if>
      <if test="record.fdate != null" >
        fdate = #{record.fdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fbillNo != null" >
        fbill_no = #{record.fbillNo,jdbcType=VARCHAR},
      </if>
      <if test="record.fitemId != null" >
        fitem_id = #{record.fitemId,jdbcType=INTEGER},
      </if>
      <if test="record.itemNumber != null" >
        item_number = #{record.itemNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null" >
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.fmodel != null" >
        fmodel = #{record.fmodel,jdbcType=VARCHAR},
      </if>
      <if test="record.fdcStockId != null" >
        fdc_stock_id = #{record.fdcStockId,jdbcType=INTEGER},
      </if>
      <if test="record.fdcStock != null" >
        fdc_stock = #{record.fdcStock,jdbcType=VARCHAR},
      </if>
      <if test="record.fdeptId != null" >
        fdept_id = #{record.fdeptId,jdbcType=INTEGER},
      </if>
      <if test="record.deptName != null" >
        dept_name = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.fempId != null" >
        femp_id = #{record.fempId,jdbcType=INTEGER},
      </if>
      <if test="record.yewuyuan != null" >
        yewuyuan = #{record.yewuyuan,jdbcType=VARCHAR},
      </if>
      <if test="record.fcusId != null" >
        fcus_id = #{record.fcusId,jdbcType=INTEGER},
      </if>
      <if test="record.cusNum != null" >
        cus_num = #{record.cusNum,jdbcType=VARCHAR},
      </if>
      <if test="record.cusName != null" >
        cus_name = #{record.cusName,jdbcType=VARCHAR},
      </if>
      <if test="record.ecusId != null" >
        ecus_id = #{record.ecusId,jdbcType=INTEGER},
      </if>
      <if test="record.ecusNum != null" >
        ecus_num = #{record.ecusNum,jdbcType=VARCHAR},
      </if>
      <if test="record.ecusName != null" >
        ecus_name = #{record.ecusName,jdbcType=VARCHAR},
      </if>
      <if test="record.funitId != null" >
        funit_id = #{record.funitId,jdbcType=INTEGER},
      </if>
      <if test="record.unitName != null" >
        unit_name = #{record.unitName,jdbcType=VARCHAR},
      </if>
      <if test="record.fqty != null" >
        fqty = #{record.fqty,jdbcType=DECIMAL},
      </if>
      <if test="record.fauxqty != null" >
        fauxqty = #{record.fauxqty,jdbcType=DECIMAL},
      </if>
      <if test="record.fauxPrice != null" >
        faux_price = #{record.fauxPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.famout != null" >
        famout = #{record.famout,jdbcType=DECIMAL},
      </if>
      <if test="record.fconsignPrice != null" >
        fconsign_price = #{record.fconsignPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.fconsignAmout != null" >
        fconsign_amout = #{record.fconsignAmout,jdbcType=DECIMAL},
      </if>
      <if test="record.fbatchNo != null" >
        fbatch_no = #{record.fbatchNo,jdbcType=VARCHAR},
      </if>
      <if test="record.snlist != null" >
        snlist = #{record.snlist,jdbcType=VARCHAR},
      </if>
      <if test="record.fkperiod != null" >
        fkperiod = #{record.fkperiod,jdbcType=INTEGER},
      </if>
      <if test="record.fkfDate != null" >
        fkf_date = #{record.fkfDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.forderBillNo != null" >
        forder_bill_no = #{record.forderBillNo,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.wldh != null" >
        wldh = #{record.wldh,jdbcType=VARCHAR},
      </if>
      <if test="record.ysdw != null" >
        ysdw = #{record.ysdw,jdbcType=VARCHAR},
      </if>
      <if test="record.dhdh != null" >
        dhdh = #{record.dhdh,jdbcType=VARCHAR},
      </if>
      <if test="record.orderDate != null" >
        order_date = #{record.orderDate,jdbcType=VARCHAR},
      </if>
      <if test="record.llysdh != null" >
        llysdh = #{record.llysdh,jdbcType=VARCHAR},
      </if>
      <if test="record.llysdw != null" >
        llysdw = #{record.llysdw,jdbcType=VARCHAR},
      </if>
      <if test="record.fpwldh != null" >
        fpwldh = #{record.fpwldh,jdbcType=VARCHAR},
      </if>
      <if test="record.fpysdw != null" >
        fpysdw = #{record.fpysdw,jdbcType=VARCHAR},
      </if>
      <if test="record.pkid != null" >
        pkid = #{record.pkid,jdbcType=VARCHAR},
      </if>
      <if test="record.fnote != null" >
        fnote = #{record.fnote,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update bh_outstock
    set id = #{record.id,jdbcType=VARCHAR},
      fentry_Id = #{record.fentryId,jdbcType=INTEGER},
      fdate = #{record.fdate,jdbcType=TIMESTAMP},
      fbill_no = #{record.fbillNo,jdbcType=VARCHAR},
      fitem_id = #{record.fitemId,jdbcType=INTEGER},
      item_number = #{record.itemNumber,jdbcType=VARCHAR},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      fmodel = #{record.fmodel,jdbcType=VARCHAR},
      fdc_stock_id = #{record.fdcStockId,jdbcType=INTEGER},
      fdc_stock = #{record.fdcStock,jdbcType=VARCHAR},
      fdept_id = #{record.fdeptId,jdbcType=INTEGER},
      dept_name = #{record.deptName,jdbcType=VARCHAR},
      femp_id = #{record.fempId,jdbcType=INTEGER},
      yewuyuan = #{record.yewuyuan,jdbcType=VARCHAR},
      fcus_id = #{record.fcusId,jdbcType=INTEGER},
      cus_num = #{record.cusNum,jdbcType=VARCHAR},
      cus_name = #{record.cusName,jdbcType=VARCHAR},
      ecus_id = #{record.ecusId,jdbcType=INTEGER},
      ecus_num = #{record.ecusNum,jdbcType=VARCHAR},
      ecus_name = #{record.ecusName,jdbcType=VARCHAR},
      funit_id = #{record.funitId,jdbcType=INTEGER},
      unit_name = #{record.unitName,jdbcType=VARCHAR},
      fqty = #{record.fqty,jdbcType=DECIMAL},
      fauxqty = #{record.fauxqty,jdbcType=DECIMAL},
      faux_price = #{record.fauxPrice,jdbcType=DECIMAL},
      famout = #{record.famout,jdbcType=DECIMAL},
      fconsign_price = #{record.fconsignPrice,jdbcType=DECIMAL},
      fconsign_amout = #{record.fconsignAmout,jdbcType=DECIMAL},
      fbatch_no = #{record.fbatchNo,jdbcType=VARCHAR},
      snlist = #{record.snlist,jdbcType=VARCHAR},
      fkperiod = #{record.fkperiod,jdbcType=INTEGER},
      fkf_date = #{record.fkfDate,jdbcType=TIMESTAMP},
      forder_bill_no = #{record.forderBillNo,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      wldh = #{record.wldh,jdbcType=VARCHAR},
      ysdw = #{record.ysdw,jdbcType=VARCHAR},
      dhdh = #{record.dhdh,jdbcType=VARCHAR},
      order_date = #{record.orderDate,jdbcType=VARCHAR},
      llysdh = #{record.llysdh,jdbcType=VARCHAR},
      llysdw = #{record.llysdw,jdbcType=VARCHAR},
      fpwldh = #{record.fpwldh,jdbcType=VARCHAR},
      fpysdw = #{record.fpysdw,jdbcType=VARCHAR},
      pkid = #{record.pkid,jdbcType=VARCHAR},
      fnote = #{record.fnote,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bh_outstock
    set id = #{record.id,jdbcType=VARCHAR},
      fentry_Id = #{record.fentryId,jdbcType=INTEGER},
      fdate = #{record.fdate,jdbcType=TIMESTAMP},
      fbill_no = #{record.fbillNo,jdbcType=VARCHAR},
      fitem_id = #{record.fitemId,jdbcType=INTEGER},
      item_number = #{record.itemNumber,jdbcType=VARCHAR},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      fmodel = #{record.fmodel,jdbcType=VARCHAR},
      fdc_stock_id = #{record.fdcStockId,jdbcType=INTEGER},
      fdc_stock = #{record.fdcStock,jdbcType=VARCHAR},
      fdept_id = #{record.fdeptId,jdbcType=INTEGER},
      dept_name = #{record.deptName,jdbcType=VARCHAR},
      femp_id = #{record.fempId,jdbcType=INTEGER},
      yewuyuan = #{record.yewuyuan,jdbcType=VARCHAR},
      fcus_id = #{record.fcusId,jdbcType=INTEGER},
      cus_num = #{record.cusNum,jdbcType=VARCHAR},
      cus_name = #{record.cusName,jdbcType=VARCHAR},
      ecus_id = #{record.ecusId,jdbcType=INTEGER},
      ecus_num = #{record.ecusNum,jdbcType=VARCHAR},
      ecus_name = #{record.ecusName,jdbcType=VARCHAR},
      funit_id = #{record.funitId,jdbcType=INTEGER},
      unit_name = #{record.unitName,jdbcType=VARCHAR},
      fqty = #{record.fqty,jdbcType=DECIMAL},
      fauxqty = #{record.fauxqty,jdbcType=DECIMAL},
      faux_price = #{record.fauxPrice,jdbcType=DECIMAL},
      famout = #{record.famout,jdbcType=DECIMAL},
      fconsign_price = #{record.fconsignPrice,jdbcType=DECIMAL},
      fconsign_amout = #{record.fconsignAmout,jdbcType=DECIMAL},
      fbatch_no = #{record.fbatchNo,jdbcType=VARCHAR},
      snlist = #{record.snlist,jdbcType=VARCHAR},
      fkperiod = #{record.fkperiod,jdbcType=INTEGER},
      fkf_date = #{record.fkfDate,jdbcType=TIMESTAMP},
      forder_bill_no = #{record.forderBillNo,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      wldh = #{record.wldh,jdbcType=VARCHAR},
      ysdw = #{record.ysdw,jdbcType=VARCHAR},
      dhdh = #{record.dhdh,jdbcType=VARCHAR},
      order_date = #{record.orderDate,jdbcType=VARCHAR},
      llysdh = #{record.llysdh,jdbcType=VARCHAR},
      llysdw = #{record.llysdw,jdbcType=VARCHAR},
      fpwldh = #{record.fpwldh,jdbcType=VARCHAR},
      fpysdw = #{record.fpysdw,jdbcType=VARCHAR},
      pkid = #{record.pkid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aidoctor.entity.Outstock" >
    update bh_outstock
    <set >
      <if test="fentryId != null" >
        fentry_Id = #{fentryId,jdbcType=INTEGER},
      </if>
      <if test="fdate != null" >
        fdate = #{fdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fbillNo != null" >
        fbill_no = #{fbillNo,jdbcType=VARCHAR},
      </if>
      <if test="fitemId != null" >
        fitem_id = #{fitemId,jdbcType=INTEGER},
      </if>
      <if test="itemNumber != null" >
        item_number = #{itemNumber,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="fmodel != null" >
        fmodel = #{fmodel,jdbcType=VARCHAR},
      </if>
      <if test="fdcStockId != null" >
        fdc_stock_id = #{fdcStockId,jdbcType=INTEGER},
      </if>
      <if test="fdcStock != null" >
        fdc_stock = #{fdcStock,jdbcType=VARCHAR},
      </if>
      <if test="fdeptId != null" >
        fdept_id = #{fdeptId,jdbcType=INTEGER},
      </if>
      <if test="deptName != null" >
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="fempId != null" >
        femp_id = #{fempId,jdbcType=INTEGER},
      </if>
      <if test="yewuyuan != null" >
        yewuyuan = #{yewuyuan,jdbcType=VARCHAR},
      </if>
      <if test="fcusId != null" >
        fcus_id = #{fcusId,jdbcType=INTEGER},
      </if>
      <if test="cusNum != null" >
        cus_num = #{cusNum,jdbcType=VARCHAR},
      </if>
      <if test="cusName != null" >
        cus_name = #{cusName,jdbcType=VARCHAR},
      </if>
      <if test="ecusId != null" >
        ecus_id = #{ecusId,jdbcType=INTEGER},
      </if>
      <if test="ecusNum != null" >
        ecus_num = #{ecusNum,jdbcType=VARCHAR},
      </if>
      <if test="ecusName != null" >
        ecus_name = #{ecusName,jdbcType=VARCHAR},
      </if>
      <if test="funitId != null" >
        funit_id = #{funitId,jdbcType=INTEGER},
      </if>
      <if test="unitName != null" >
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="fqty != null" >
        fqty = #{fqty,jdbcType=DECIMAL},
      </if>
      <if test="fauxqty != null" >
        fauxqty = #{fauxqty,jdbcType=DECIMAL},
      </if>
      <if test="fauxPrice != null" >
        faux_price = #{fauxPrice,jdbcType=DECIMAL},
      </if>
      <if test="famout != null" >
        famout = #{famout,jdbcType=DECIMAL},
      </if>
      <if test="fconsignPrice != null" >
        fconsign_price = #{fconsignPrice,jdbcType=DECIMAL},
      </if>
      <if test="fconsignAmout != null" >
        fconsign_amout = #{fconsignAmout,jdbcType=DECIMAL},
      </if>
      <if test="fbatchNo != null" >
        fbatch_no = #{fbatchNo,jdbcType=VARCHAR},
      </if>
      <if test="snlist != null" >
        snlist = #{snlist,jdbcType=VARCHAR},
      </if>
      <if test="fkperiod != null" >
        fkperiod = #{fkperiod,jdbcType=INTEGER},
      </if>
      <if test="fkfDate != null" >
        fkf_date = #{fkfDate,jdbcType=TIMESTAMP},
      </if>
      <if test="forderBillNo != null" >
        forder_bill_no = #{forderBillNo,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="wldh != null" >
        wldh = #{wldh,jdbcType=VARCHAR},
      </if>
      <if test="ysdw != null" >
        ysdw = #{ysdw,jdbcType=VARCHAR},
      </if>
      <if test="dhdh != null" >
        dhdh = #{dhdh,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=VARCHAR},
      </if>
      <if test="llysdh != null" >
        llysdh = #{llysdh,jdbcType=VARCHAR},
      </if>
      <if test="llysdw != null" >
        llysdw = #{llysdw,jdbcType=VARCHAR},
      </if>
      <if test="fpwldh != null" >
        fpwldh = #{fpwldh,jdbcType=VARCHAR},
      </if>
      <if test="fpysdw != null" >
        fpysdw = #{fpysdw,jdbcType=VARCHAR},
      </if>
      <if test="pkid != null" >
        pkid = #{pkid,jdbcType=VARCHAR},
      </if>
      <if test="fnote != null" >
        fnote = #{fnote,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.aidoctor.entity.Outstock" >
    update bh_outstock
    set fentry_Id = #{fentryId,jdbcType=INTEGER},
      fdate = #{fdate,jdbcType=TIMESTAMP},
      fbill_no = #{fbillNo,jdbcType=VARCHAR},
      fitem_id = #{fitemId,jdbcType=INTEGER},
      item_number = #{itemNumber,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      fmodel = #{fmodel,jdbcType=VARCHAR},
      fdc_stock_id = #{fdcStockId,jdbcType=INTEGER},
      fdc_stock = #{fdcStock,jdbcType=VARCHAR},
      fdept_id = #{fdeptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      femp_id = #{fempId,jdbcType=INTEGER},
      yewuyuan = #{yewuyuan,jdbcType=VARCHAR},
      fcus_id = #{fcusId,jdbcType=INTEGER},
      cus_num = #{cusNum,jdbcType=VARCHAR},
      cus_name = #{cusName,jdbcType=VARCHAR},
      ecus_id = #{ecusId,jdbcType=INTEGER},
      ecus_num = #{ecusNum,jdbcType=VARCHAR},
      ecus_name = #{ecusName,jdbcType=VARCHAR},
      funit_id = #{funitId,jdbcType=INTEGER},
      unit_name = #{unitName,jdbcType=VARCHAR},
      fqty = #{fqty,jdbcType=DECIMAL},
      fauxqty = #{fauxqty,jdbcType=DECIMAL},
      faux_price = #{fauxPrice,jdbcType=DECIMAL},
      famout = #{famout,jdbcType=DECIMAL},
      fconsign_price = #{fconsignPrice,jdbcType=DECIMAL},
      fconsign_amout = #{fconsignAmout,jdbcType=DECIMAL},
      fbatch_no = #{fbatchNo,jdbcType=VARCHAR},
      snlist = #{snlist,jdbcType=VARCHAR},
      fkperiod = #{fkperiod,jdbcType=INTEGER},
      fkf_date = #{fkfDate,jdbcType=TIMESTAMP},
      forder_bill_no = #{forderBillNo,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      wldh = #{wldh,jdbcType=VARCHAR},
      ysdw = #{ysdw,jdbcType=VARCHAR},
      dhdh = #{dhdh,jdbcType=VARCHAR},
      order_date = #{orderDate,jdbcType=VARCHAR},
      llysdh = #{llysdh,jdbcType=VARCHAR},
      llysdw = #{llysdw,jdbcType=VARCHAR},
      fpwldh = #{fpwldh,jdbcType=VARCHAR},
      fpysdw = #{fpysdw,jdbcType=VARCHAR},
      pkid = #{pkid,jdbcType=VARCHAR},
      fnote = #{fnote,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aidoctor.entity.Outstock" >
    update bh_outstock
    set fentry_Id = #{fentryId,jdbcType=INTEGER},
      fdate = #{fdate,jdbcType=TIMESTAMP},
      fbill_no = #{fbillNo,jdbcType=VARCHAR},
      fitem_id = #{fitemId,jdbcType=INTEGER},
      item_number = #{itemNumber,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      fmodel = #{fmodel,jdbcType=VARCHAR},
      fdc_stock_id = #{fdcStockId,jdbcType=INTEGER},
      fdc_stock = #{fdcStock,jdbcType=VARCHAR},
      fdept_id = #{fdeptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      femp_id = #{fempId,jdbcType=INTEGER},
      yewuyuan = #{yewuyuan,jdbcType=VARCHAR},
      fcus_id = #{fcusId,jdbcType=INTEGER},
      cus_num = #{cusNum,jdbcType=VARCHAR},
      cus_name = #{cusName,jdbcType=VARCHAR},
      ecus_id = #{ecusId,jdbcType=INTEGER},
      ecus_num = #{ecusNum,jdbcType=VARCHAR},
      ecus_name = #{ecusName,jdbcType=VARCHAR},
      funit_id = #{funitId,jdbcType=INTEGER},
      unit_name = #{unitName,jdbcType=VARCHAR},
      fqty = #{fqty,jdbcType=DECIMAL},
      fauxqty = #{fauxqty,jdbcType=DECIMAL},
      faux_price = #{fauxPrice,jdbcType=DECIMAL},
      famout = #{famout,jdbcType=DECIMAL},
      fconsign_price = #{fconsignPrice,jdbcType=DECIMAL},
      fconsign_amout = #{fconsignAmout,jdbcType=DECIMAL},
      fbatch_no = #{fbatchNo,jdbcType=VARCHAR},
      snlist = #{snlist,jdbcType=VARCHAR},
      fkperiod = #{fkperiod,jdbcType=INTEGER},
      fkf_date = #{fkfDate,jdbcType=TIMESTAMP},
      forder_bill_no = #{forderBillNo,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      wldh = #{wldh,jdbcType=VARCHAR},
      ysdw = #{ysdw,jdbcType=VARCHAR},
      dhdh = #{dhdh,jdbcType=VARCHAR},
      order_date = #{orderDate,jdbcType=VARCHAR},
      llysdh = #{llysdh,jdbcType=VARCHAR},
      llysdw = #{llysdw,jdbcType=VARCHAR},
      fpwldh = #{fpwldh,jdbcType=VARCHAR},
      fpysdw = #{fpysdw,jdbcType=VARCHAR},
      pkid = #{pkid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>