<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aidoctor.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.aidoctor.pojo.Product">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="product_code" property="productCode" jdbcType="VARCHAR"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="product_short_name" property="productShortName" jdbcType="VARCHAR"/>
        <result column="product_type" property="productType" jdbcType="VARCHAR"/>
        <result column="product_unit" property="productUnit" jdbcType="VARCHAR"/>
        <result column="pack_standard" property="packStandard" jdbcType="VARCHAR"/>
        <result column="prodct_line" property="prodctLine" jdbcType="VARCHAR"/>
        <result column="product_b_type" property="productBType" jdbcType="VARCHAR"/>
        <result column="product_s_type" property="productSType" jdbcType="VARCHAR"/>
        <result column="dictionaries_id_line_type" property="dictionariesIdLineType" jdbcType="VARCHAR"/>
        <result column="dictionaries_id_btype" property="dictionariesIdBtype" jdbcType="VARCHAR"/>
        <result column="dictionaries_id_stype" property="dictionariesIdStype" jdbcType="VARCHAR"/>
        <result column="small_unit" property="smallUnit" jdbcType="FLOAT"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="erp_code" property="erpCode" jdbcType="VARCHAR"/>
        <result column="product_desc" property="productDesc" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,product_code,product_name,product_short_name,product_type,product_unit,pack_standard,prodct_line,product_b_type,product_s_type,dictionaries_id_line_type,dictionaries_id_btype,dictionaries_id_stype,small_unit,create_date,erp_code,product_desc,status
    </sql>
    <sql id="Base_Column_List_Model">
        id,product_code as productCode,product_name as productName,product_short_name as productShortName,product_type as productType,product_unit as productUnit,pack_standard as packStandard,prodct_line as prodctLine,product_b_type as productBType,product_s_type as productSType,dictionaries_id_line_type as dictionariesIdLineType,dictionaries_id_btype as dictionariesIdBtype,dictionaries_id_stype as dictionariesIdStype,small_unit as smallUnit,create_date as createDate,erp_code as erpCode,product_desc as productDesc,status
    </sql>
    <!-- 根据主键查询 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from b_product
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <!-- 根据对象条件查询 -->
    <select id="selectByRecord" parameterType="com.aidoctor.pojo.Product" resultType="com.aidoctor.pojo.Product">
        select
        <include refid="Base_Column_List_Model"/>
        from b_product
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="productCode != null">
                and product_code = #{productCode,jdbcType=VARCHAR}
            </if>
            <if test="productName != null">
                and product_name = #{productName,jdbcType=VARCHAR}
            </if>
            <if test="productShortName != null">
                and product_short_name = #{productShortName,jdbcType=VARCHAR}
            </if>
            <if test="productType != null">
                and product_type = #{productType,jdbcType=VARCHAR}
            </if>
            <if test="productUnit != null">
                and product_unit = #{productUnit,jdbcType=VARCHAR}
            </if>
            <if test="packStandard != null">
                and pack_standard = #{packStandard,jdbcType=VARCHAR}
            </if>
            <if test="prodctLine != null">
                and prodct_line = #{prodctLine,jdbcType=VARCHAR}
            </if>
            <if test="productBType != null">
                and product_b_type = #{productBType,jdbcType=VARCHAR}
            </if>
            <if test="productSType != null">
                and product_s_type = #{productSType,jdbcType=VARCHAR}
            </if>
            <if test="dictionariesIdLineType != null">
                and dictionaries_id_line_type = #{dictionariesIdLineType,jdbcType=VARCHAR}
            </if>
            <if test="dictionariesIdBtype != null">
                and dictionaries_id_btype = #{dictionariesIdBtype,jdbcType=VARCHAR}
            </if>
            <if test="dictionariesIdStype != null">
                and dictionaries_id_stype = #{dictionariesIdStype,jdbcType=VARCHAR}
            </if>
            <if test="smallUnit != null">
                and small_unit = #{smallUnit,jdbcType=FLOAT}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="erpCode != null">
                and erp_code = #{erpCode,jdbcType=VARCHAR}
            </if>
            <if test="productDesc != null">
                and product_desc = #{productDesc,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <!-- 根据主键删除 -->
    <delete id="del" parameterType="java.lang.String">
        delete from b_product
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.aidoctor.pojo.Product" useGeneratedKeys="true" keyColumn="id">
        insert into b_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="productCode != null">
                product_code,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="productShortName != null">
                product_short_name,
            </if>
            <if test="productType != null">
                product_type,
            </if>
            <if test="productUnit != null">
                product_unit,
            </if>
            <if test="packStandard != null">
                pack_standard,
            </if>
            <if test="prodctLine != null">
                prodct_line,
            </if>
            <if test="productBType != null">
                product_b_type,
            </if>
            <if test="productSType != null">
                product_s_type,
            </if>
            <if test="dictionariesIdLineType != null">
                dictionaries_id_line_type,
            </if>
            <if test="dictionariesIdBtype != null">
                dictionaries_id_btype,
            </if>
            <if test="dictionariesIdStype != null">
                dictionaries_id_stype,
            </if>
            <if test="smallUnit != null">
                small_unit,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="erpCode != null">
                erp_code,
            </if>
            <if test="productDesc != null">
                product_desc,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="productCode != null">
                #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="productShortName != null">
                #{productShortName,jdbcType=VARCHAR},
            </if>
            <if test="productType != null">
                #{productType,jdbcType=VARCHAR},
            </if>
            <if test="productUnit != null">
                #{productUnit,jdbcType=VARCHAR},
            </if>
            <if test="packStandard != null">
                #{packStandard,jdbcType=VARCHAR},
            </if>
            <if test="prodctLine != null">
                #{prodctLine,jdbcType=VARCHAR},
            </if>
            <if test="productBType != null">
                #{productBType,jdbcType=VARCHAR},
            </if>
            <if test="productSType != null">
                #{productSType,jdbcType=VARCHAR},
            </if>
            <if test="dictionariesIdLineType != null">
                #{dictionariesIdLineType,jdbcType=VARCHAR},
            </if>
            <if test="dictionariesIdBtype != null">
                #{dictionariesIdBtype,jdbcType=VARCHAR},
            </if>
            <if test="dictionariesIdStype != null">
                #{dictionariesIdStype,jdbcType=VARCHAR},
            </if>
            <if test="smallUnit != null">
                #{smallUnit,jdbcType=FLOAT},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="erpCode != null">
                #{erpCode,jdbcType=VARCHAR},
            </if>
            <if test="productDesc != null">
                #{productDesc,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <!-- 根据主键修改 -->
    <update id="update" parameterType="com.aidoctor.pojo.Product">
        update b_product
        <set>
            <if test="productCode != null">
                product_code = #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="productShortName != null">
                product_short_name = #{productShortName,jdbcType=VARCHAR},
            </if>
            <if test="productType != null">
                product_type = #{productType,jdbcType=VARCHAR},
            </if>
            <if test="productUnit != null">
                product_unit = #{productUnit,jdbcType=VARCHAR},
            </if>
            <if test="packStandard != null">
                pack_standard = #{packStandard,jdbcType=VARCHAR},
            </if>
            <if test="prodctLine != null">
                prodct_line = #{prodctLine,jdbcType=VARCHAR},
            </if>
            <if test="productBType != null">
                product_b_type = #{productBType,jdbcType=VARCHAR},
            </if>
            <if test="productSType != null">
                product_s_type = #{productSType,jdbcType=VARCHAR},
            </if>
            <if test="dictionariesIdLineType != null">
                dictionaries_id_line_type = #{dictionariesIdLineType,jdbcType=VARCHAR},
            </if>
            <if test="dictionariesIdBtype != null">
                dictionaries_id_btype = #{dictionariesIdBtype,jdbcType=VARCHAR},
            </if>
            <if test="dictionariesIdStype != null">
                dictionaries_id_stype = #{dictionariesIdStype,jdbcType=VARCHAR},
            </if>
            <if test="smallUnit != null">
                small_unit = #{smallUnit,jdbcType=FLOAT},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="erpCode != null">
                erp_code = #{erpCode,jdbcType=VARCHAR},
            </if>
            <if test="productDesc != null">
                product_desc = #{productDesc,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>